html {
  line-height: 1;
}

h1 {
  font-size: inherit;
  margin: 0;
}

figure {
  margin: 0;
}

pre {
  font-size: inherit;
}

abbr[title] {
  text-decoration: inherit;
}

code,
kbd,
samp {
  font-size: inherit;
}

dfn {
  font-style: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: 1;
}
