$font-family-helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-times: TimesNewRoman, "Times New Roman", Times, serif;

$primary-font-family: $font-family-helvetica;
$secondary-font-family: $font-family-times;
